<mat-toolbar color="primary">
    <span>
        <a routerLink="/">My Messages</a>
    </span>
    <span class="spacer"></span>
    <span *ngIf="userCreatedEmail">
        <p>Welcome {{userCreatedEmail}}</p>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button routerLink="/create" routerLinkActive="accent" *ngIf="userIsAuthenticated">New Post</a>
        </li>

        <li>
            <a mat-button routerLink="/auth/login" routerLinkActive="accent" *ngIf="!userIsAuthenticated">Login</a>
        </li>

        <li>
            <a mat-button routerLink="/auth/signup" routerLinkActive="accent" *ngIf="!userIsAuthenticated">Signup</a>
        </li>

        <li>
            <button mat-button (click)="logout()" *ngIf="userIsAuthenticated">Logout</button>
        </li>
    </ul>
</mat-toolbar>
