<mat-card>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
        <mat-card-content>
    
            <mat-form-field>
                <input 
                    matInput 
                    name="email"
                    type="email" 
                    placeholder="E-mail"
                    required
                    email
                    ngModel
                    #emailInput="ngModel"
                >
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input 
                    matInput
                    name="password" 
                    type="password" 
                    placeholder="Password"
                    required
                    ngModel
                    #passwordInput="ngModel"
                >
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
            </mat-form-field>
            
             
            
            <button 
                mat-raised-button
                color="accent"
                type="submit"
                
            >
                Signup
            </button>
            
            
        </mat-card-content>
    </form>
</mat-card>
